Repository equinor/procosys-js-frontend, pull requests merged in 2020-10, with the labels that each got.

#324 Update labeler.yml
  .github/labeler.yml
Labels: missing test

#319 Reschedule dialog for scope list
  src/components/EdsIcon/index.tsx
  src/components/Select/index.tsx
  src/modules/Preservation/http/PreservationApiClient.ts
  src/modules/Preservation/views/ScopeOverview/RescheduleDialog.style.ts
  src/modules/Preservation/views/ScopeOverview/RescheduleDialog.tsx
  src/modules/Preservation/views/ScopeOverview/ScopeOverview.tsx
  src/modules/Preservation/views/ScopeOverview/__tests__/RescheduleDialog.test.jsx
  src/modules/Preservation/views/ScopeOverview/types.d.ts
Labels: preservation

#326 Initilize input variables after scheduling
  src/modules/Preservation/views/ScopeOverview/RescheduleDialog.tsx
Labels: preservation

#325 Feature 79124: UI - Create attachments right after IPO is created
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/views/CreateIPO/Attachments/Attachments.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/CreateIPO.tsx
  src/util/FileTypeValidator.ts
Labels: invitation for punchout, missing test
