Repository equinor/procosys-js-frontend, pull requests merged in 2020-12, with the labels that each got.

#366 79651 - Update links
  src/modules/Header/index.tsx
Labels: header, missing test

#365 Bug 79944: UI - Entering 0 hours in AM/PM
  src/modules/InvitationForPunchOut/views/CreateIPO/GeneralInfo/GeneralInfo.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/__tests__/CreateIPO.test.tsx
Labels: invitation for punchout

#343 Feature/79294 support for mobile device
  src/assets/sass/variables.scss
  src/components/EdsIcon/index.tsx
  src/components/Flyout/index.tsx
  src/components/Flyout/style.ts
  src/core/services/ModalDialogService/style.ts
  src/core/styling.ts
  src/modules/Header/ModuleTabs.tsx
  src/modules/Header/index.tsx
  src/modules/Header/style.ts
  src/modules/Preservation/views/ScopeOverview/DialogTable.style.ts
  src/modules/Preservation/views/ScopeOverview/DialogTable.tsx
  src/modules/Preservation/views/ScopeOverview/PreservedDialog.tsx
  src/modules/Preservation/views/ScopeOverview/ScopeOverview.style.ts
  src/modules/Preservation/views/ScopeOverview/ScopeOverview.tsx
  src/modules/Preservation/views/ScopeOverview/ScopeTable.style.ts
  src/modules/Preservation/views/ScopeOverview/ScopeTable.tsx
  src/modules/Preservation/views/ScopeOverview/TagFlyout/PreservationTab/Requirements.tsx
  src/modules/Preservation/views/ScopeOverview/TagFlyout/TagFlyout.style.ts
  src/modules/Preservation/views/ScopeOverview/__tests__/ScopeOverview.test.jsx
Labels: core, header, missing test, preservation

#368 Set viewport height
  webpack.development.config.js
  webpack.production.config.js
Labels: missing test

#369 Just for testing...
  src/modules/Preservation/views/ScopeOverview/ScopeOverview.tsx
Labels: missing test, preservation

#372 Feature 79920: UI - Sign button
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/__tests__/ParticipantsTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/index.tsx
Labels: invitation for punchout

#374 Feature 79599: UI Preset time is next half or full hour
  src/modules/InvitationForPunchOut/views/CreateIPO/CreateIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/__tests__/utils.test.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/utils.ts
Labels: invitation for punchout, missing test

#375 Feature 79006: UI Remember comm pkg search
  src/modules/InvitationForPunchOut/views/CreateIPO/SelectScope/CommPkgTable.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/SelectScope/SelectScope.tsx
Labels: invitation for punchout, missing test

#373 Feature 79932: UI Set attended state from response in planned state
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/__tests__/ParticipantsTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/OutlookInfo/__tests__/OutlookInfoTest.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/OutlookInfo/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/utils.ts
Labels: invitation for punchout

#376 Feature 78826: UI show attachment type icon
  src/components/EdsIcon/index.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/Attachments/Attachments.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Attachments/__tests__/Attachments.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Attachments/index.tsx
  src/modules/InvitationForPunchOut/views/__tests__/utils.test.js
  src/modules/InvitationForPunchOut/views/utils.tsx
Labels: invitation for punchout, missing test

#377 Feature 80050: UI - Clear scope when project change
  src/modules/InvitationForPunchOut/views/CreateIPO/GeneralInfo/GeneralInfo.tsx
Labels: invitation for punchout, missing test

#360 79673 change getpersons endpoints
  src/components/Dropdown/index.tsx
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/views/CreateIPO/CreateIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/Participants/Participants.tsx
Labels: invitation for punchout, missing test

#378 Feature 79415: UI link to reports
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/ReportsTable/__tests__/ReportsTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/ReportsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/ReportsTable/style.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/__tests__/Scope.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/utils.ts
Labels: invitation for punchout, missing test

#379 Feature 80105: UI attachment improvements
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/types.d.ts
  src/modules/InvitationForPunchOut/views/CreateIPO/Attachments/Attachments.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/CreateIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/Participants/Participants.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/Summary/Summary.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/utils.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/Attachments/__tests__/Attachments.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Attachments/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/CommPkgsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/McPkgsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/types.d.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/utils.ts
  src/modules/InvitationForPunchOut/views/utils.tsx
Labels: invitation for punchout, missing test

#380 Feature 79576: UI Fix external guest person clocked, email field
  src/modules/InvitationForPunchOut/views/CreateIPO/Participants/Participants.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/OutlookInfo/__tests__/OutlookInfoTest.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/OutlookInfo/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/utils.ts
Labels: invitation for punchout

#382 Tech 79655: UI update dependencies dec2020
  .docker/Dockerfile
  package.json
  yarn.lock
Labels: dependencies, docker, missing test

#381 79519 Search for comm pkgs with project name instead of project id
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/views/CreateIPO/CreateIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/SelectScope/CommPkgTable.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/SelectScope/SelectScope.tsx
Labels: invitation for punchout, missing test

#358 Feature 78700: UI warning when leaving page unsaved
  src/modules/InvitationForPunchOut/views/CreateIPO/CreateIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/GeneralInfo/GeneralInfo.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/Participants/Participants.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/__tests__/CreateIPO.test.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/__tests__/ParticipantsTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/__tests__/GeneralInfo.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/OutlookInfo/__tests__/OutlookInfoTest.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/OutlookInfo/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/OutlookInfo/style.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/ReportsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/enums.ts
  src/modules/InvitationForPunchOut/views/enums.ts
  src/modules/InvitationForPunchOut/views/utils.tsx
Labels: invitation for punchout, missing test

#384 Bug 80163: Preservering date picker error
  package.json
  yarn.lock
Labels: dependencies, missing test

#385 Tech 80132: UI Additional dependency updates December
  package.json
  src/components/EdsIcon/index.tsx
  src/components/OptionsDropdown/index.tsx
  src/core/services/NotificationService/index.tsx
  src/declarations/globals.d.ts
  src/modules/Header/index.tsx
  src/modules/Header/style.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/OutlookInfo/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/ViewIPOHeader.tsx
  src/modules/Preservation/views/ScopeOverview/ScopeFilter/ScopeFilter.tsx
  src/modules/Preservation/views/ScopeOverview/ScopeOverview.style.ts
  src/modules/Preservation/views/ScopeOverview/ScopeOverview.tsx
  webpack.development.config.js
  webpack.production.config.js
  yarn.lock
Labels: core, dependencies, header, invitation for punchout, missing test, preservation

#393 Bug 78622: Icon color action due date updated
  src/modules/Preservation/views/ScopeOverview/TagFlyout/ActionTab/ActionExpanded.tsx
  src/modules/Preservation/views/ScopeOverview/TagFlyout/ActionTab/CreateOrEditAction.tsx
Labels: missing test, preservation

#392 Feature 78647: Link in preservation tag
  src/modules/Preservation/views/EditTagProperties/EditTagProperties.tsx
  src/modules/Preservation/views/ScopeOverview/TagFlyout/PreservationTab/PreservationTab.tsx
  src/modules/Preservation/views/ScopeOverview/TagFlyout/TagFlyout.tsx
Labels: missing test, preservation

#391 Bug 78421: Voided tag remove icon color
  src/modules/Preservation/views/ScopeOverview/ScopeOverview.tsx
Labels: missing test, preservation

#389 Bug 80234: UI Participants dropdown hang
  src/hooks/useClickOutsideNotifier.tsx
Labels: missing test

#387 Bug 80194: UI only show complete/approve for first Contractor/ConstructionCompany
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
Labels: invitation for punchout, missing test

#390 Feature 78524: Link to old preservation wrong url
  src/modules/Preservation/views/ScopeOverview/ScopeOverview.tsx
Labels: missing test, preservation

#394 Feature 80259: UI - Open links in new tabs
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/CommPkgsTable/__tests__/CommPkgTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/CommPkgsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/McPkgsTable/__tests__/McPkgsTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/McPkgsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/ReportsTable/__tests__/ReportsTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/ReportsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/__tests__/Scope.test.jsx
Labels: invitation for punchout, missing test
