Repository equinor/procosys-js-frontend, pull requests merged in 2020-11, with the labels that each got.

#329 Feature 79003: Change title for DP/MDP on scope
  src/modules/InvitationForPunchOut/views/CreateIPO/SelectScope/SelectScope.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/SelectScope/__tests__/SelectScope.test.jsx
Labels: invitation for punchout

#328 Feature 78936: UI Notes from Kristen
  src/modules/Header/index.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/CreateIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/GeneralInfo/GeneralInfo.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/__tests__/CreateIPO.test.tsx
Labels: header, invitation for punchout, missing test

#338 Feature 79037: UI Date changes
  src/modules/InvitationForPunchOut/types.d.ts
  src/modules/InvitationForPunchOut/views/CreateIPO/CreateIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/GeneralInfo/GeneralInfo.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/Summary/Summary.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/Summary/__tests__/Summary.test.jsx
  src/modules/InvitationForPunchOut/views/CreateIPO/__tests__/CreateIPO.test.tsx
Labels: invitation for punchout, missing test

#327 Feature 78031: UI Attachment tab
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/views/CreateIPO/CreateIPO.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Attachments/CustomTooltip.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Attachments/__tests__/Attachments.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Attachments/index.style.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/Attachments/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/CustomCells.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/CustomTooltip.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/index.tsx
Labels: invitation for punchout

#340 Bug 79354: UI external participant
  src/modules/InvitationForPunchOut/views/CreateIPO/Participants/Participants.tsx
Labels: invitation for punchout

#341 Feature 79201: UI - Use get IPO details
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/types.d.ts
  src/modules/InvitationForPunchOut/views/CreateIPO/CreateIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/Participants/Participants.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/utils.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/Attachments/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/__tests__/ParticipantsTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/__tests__/GeneralInfo.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/dummyData.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/types.d.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/utils.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/OutlookInfo/__tests__/OutlookInfoTest.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/index.style.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/types.d.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/utils.ts
Labels: invitation for punchout

#342 refactor to use new invitationDto in endpoint
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/types.d.ts
  src/modules/InvitationForPunchOut/views/CreateIPO/CreateIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/Participants/Participants.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/Summary/Summary.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/__tests__/GeneralInfo.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/ViewIPOHeader.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/types.d.ts
Labels: invitation for punchout, missing test

#339 Tech/79268 upgrade packages
  babel.config.js
  package.json
  yarn.lock
Labels: dependencies

#344 Feature 78029: UI - Scope tab
  src/components/EdsIcon/index.tsx
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/CommPkgsTable/__tests__/CommPkgTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/CommPkgsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/CommPkgsTable/style.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/McPkgsTable/__tests__/McPkgsTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/McPkgsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/McPkgsTable/style.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/__tests__/Scope.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/style.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/types.d.ts
Labels: invitation for punchout, missing test

#349 Feature 79038: UI - Move next and previous buttons
  src/components/ProgressBar/index.tsx
  src/components/ProgressBar/style.ts
  src/modules/InvitationForPunchOut/views/CreateIPO/Attachments/Attachments.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/Attachments/__tests__/Attachments.test.jsx
  src/modules/InvitationForPunchOut/views/CreateIPO/CreateIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/CreateIPOHeader.style.ts
  src/modules/InvitationForPunchOut/views/CreateIPO/CreateIPOHeader.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/GeneralInfo/GeneralInfo.style.ts
  src/modules/InvitationForPunchOut/views/CreateIPO/GeneralInfo/GeneralInfo.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/Participants/Participants.style.ts
  src/modules/InvitationForPunchOut/views/CreateIPO/Participants/Participants.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/Participants/__tests__/Participants.test.jsx
  src/modules/InvitationForPunchOut/views/CreateIPO/SelectScope/SelectScope.style.ts
  src/modules/InvitationForPunchOut/views/CreateIPO/SelectScope/SelectScope.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/SelectScope/__tests__/SelectScope.test.jsx
  src/modules/InvitationForPunchOut/views/CreateIPO/Summary/Summary.style.ts
  src/modules/InvitationForPunchOut/views/CreateIPO/Summary/Summary.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/Summary/__tests__/Summary.test.jsx
  src/modules/InvitationForPunchOut/views/CreateIPO/__tests__/CreateIPO.test.tsx
Labels: invitation for punchout, missing test

#337 Fix issue with long library item names, and issue with long text on r…
  src/components/TreeView/index.tsx
  src/components/TreeView/style.ts
  src/modules/Preservation/views/EditTagProperties/EditTagProperties.tsx
Labels: missing test, preservation

#351 79651 - Link to CCH tools from ProCoSys
  src/components/EdsIcon/index.tsx
  src/modules/Header/index.tsx
Labels: header, missing test

#350 Feature/79285 ui duplicate functionality for dummy tag
  src/modules/Preservation/http/PreservationApiClient.ts
  src/modules/Preservation/index.tsx
  src/modules/Preservation/views/AddScope/AddScope.tsx
  src/modules/Preservation/views/AddScope/CreateDummyTag/CreateDummyTag.style.js
  src/modules/Preservation/views/AddScope/CreateDummyTag/CreateDummyTag.tsx
  src/modules/Preservation/views/AddScope/CreateDummyTag/__tests__/CreateDummyTag.test.jsx
  src/modules/Preservation/views/AddScope/types.d.ts
  src/modules/Preservation/views/ScopeOverview/ScopeOverview.tsx
  src/modules/Preservation/views/ScopeOverview/types.d.ts
Labels: preservation

#356 Handle disabled dropdown
  src/modules/Preservation/views/ScopeOverview/ScopeOverview.tsx
Labels: missing test, preservation

#352 79516 link to scope in main
  src/modules/InvitationForPunchOut/views/CreateIPO/SelectScope/SelectedScope.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/CommPkgsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/McPkgsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/index.tsx
Labels: invitation for punchout, missing test

#353 78966 search for comm pkgs after 300ms
  src/modules/InvitationForPunchOut/views/CreateIPO/SelectScope/CommPkgTable.tsx
Labels: invitation for punchout, missing test

#354 Feature 78642: UI Outlook response from endpoint
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/__tests__/ParticipantsTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/OutlookInfo/__tests__/OutlookInfoTest.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/OutlookInfo/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/OutlookInfo/style.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/ViewIPOHeader.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/dummyData.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/types.d.ts
Labels: invitation for punchout, missing test

#355 Bug 79575: UI Date bug
  src/modules/InvitationForPunchOut/views/CreateIPO/CreateIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/GeneralInfo/GeneralInfo.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/__tests__/utils.test.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/utils.ts
Labels: invitation for punchout

#357 Bug 79015: UI can not remove selected mc pkgs (comm pkgs)
  src/modules/InvitationForPunchOut/views/CreateIPO/SelectScope/McPkgTable.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/SelectScope/SelectScope.tsx
Labels: invitation for punchout, missing test

#345 Feature 77742: UI - Approve and complete buttons
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/__tests__/ParticipantsTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/types.d.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/utils.ts
Labels: invitation for punchout, missing test
