Repository equinor/procosys-js-frontend, pull requests merged in 2021-09, with the labels that each got.

#564 bug/83256-Search for IPO role returns blank page
  src/components/EdsIcon/index.tsx
Labels: missing test

#565 Bug/82397 time format ipo
  src/core/services/DateService.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/Comments/__tests__/Comments.test.jsx
Labels: missing test, core, invitation for punchout

#570 Feature/83596 utvidelse av search ipo
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/views/SearchIPO/Table/__tests__/Table.test.jsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Table/index.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/types.d.ts
Labels: missing test, invitation for punchout
