Repository equinor/procosys-js-frontend, pull requests merged in 2021-03, with the labels that each got.

#461 Tech/80898 UI update yarn/npm packages february
  package.json
  yarn.lock
Labels: dependencies, missing test

#460 Feature 88132: UI - Filter adjustments
  src/core/DirtyContext.tsx
  src/core/services/DateService.ts
  src/modules/InvitationForPunchOut/index.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Attachments/Attachments.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/EditIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Summary/Summary.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Summary/__tests__/Summary.test.jsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/utils.ts
  src/modules/InvitationForPunchOut/views/SearchIPO/Filter/CheckboxFilterWithDates/index.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Table/index.style.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Table/index.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Attachments/__tests__/Attachments.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Attachments/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Comments/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/__tests__/ParticipantsTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/__tests__/GeneralInfo.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/History/__tests__/History.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/History/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/CommPkgsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/McPkgsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/ReportsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/index.tsx
  src/modules/Preservation/index.tsx
  src/modules/Preservation/views/ScopeOverview/TagFlyout/ActionTab/__tests__/ActionTab.test.jsx
Labels: core, invitation for punchout, missing test, preservation

#468 Tech/81619 UI update yarn/npm packages march
  package.json
  yarn.lock
Labels: dependencies, missing test

#472 Feature/80981 UI new IPO button from search
  src/modules/InvitationForPunchOut/views/SearchIPO/__tests__/SearchIPO.test.jsx
  src/modules/InvitationForPunchOut/views/SearchIPO/index.style.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/index.tsx
Labels: invitation for punchout, missing test

#476 Feature/80840 UI save filter functionality
  src/modules/InvitationForPunchOut/views/SearchIPO/Filter/SavedFilters/index.style.tsx
  src/modules/Preservation/views/ScopeOverview/ScopeFilter/SavedFilters.style.ts
Labels: invitation for punchout, missing test, preservation

#471 feature/81492 UI replace date pickers
  package.json
  src/core/services/DateService.ts
  src/modules/InvitationForPunchOut/types.d.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/EditIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/GeneralInfo/GeneralInfo.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Filter/CheckboxFilterWithDates/index.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Filter/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/History/index.tsx
  src/modules/Preservation/views/ScopeOverview/TagFlyout/ActionTab/CreateOrEditAction.tsx
  yarn.lock
Labels: core, dependencies, invitation for punchout, missing test, preservation

#478 bug/81664 - UI custom date ipo filter
  package.json
  src/modules/InvitationForPunchOut/views/SearchIPO/Filter/CheckboxFilterWithDates/index.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Filter/index.tsx
  yarn.lock
Labels: dependencies, invitation for punchout, missing test

#474 Feature/81497 UI change from dropdown to textfield for weeks in reschedule
  src/modules/Preservation/views/ScopeOverview/RescheduleDialog.style.ts
  src/modules/Preservation/views/ScopeOverview/RescheduleDialog.tsx
  src/modules/Preservation/views/ScopeOverview/__tests__/RescheduleDialog.test.jsx
Labels: missing test, preservation

#482 Feature/80403 UI uncomplete
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/__tests__/ParticipantsTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/index.tsx
  src/modules/InvitationForPunchOut/views/enums.ts
Labels: invitation for punchout, missing test

#479 Add shadow on modal sidesheet
  src/components/Flyout/style.ts
Labels: missing test

#483 Feature/79276 UI want to delete incorrect requirements
  src/modules/PlantConfig/views/Library/Mode/Mode.tsx
  src/modules/Preservation/components/RequirementsSelector/RequirementsSelector.style.tsx
  src/modules/Preservation/components/RequirementsSelector/RequirementsSelector.tsx
  src/modules/Preservation/components/RequirementsSelector/__tests__/RequirementsSelector.test.jsx
  src/modules/Preservation/http/PreservationApiClient.ts
  src/modules/Preservation/views/EditTagProperties/EditTagProperties.tsx
  src/modules/Preservation/views/EditTagProperties/__tests__/EditTagProperties.test.jsx
Labels: missing test, plantConfig, preservation

#485 Feature/80841 UI export to excel
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/views/SearchIPO/Filter/__tests__/Filter.test.jsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Filter/index.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Table/__tests__/Table.test.jsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Table/index.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/index.tsx
  src/modules/Preservation/views/ScopeOverview/__tests__/ScopeOverview.test.jsx
Labels: invitation for punchout, missing test, preservation

#487 Feature/81753 UI signing and participant changes
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Participants/Participants.tsx
Labels: invitation for punchout, missing test

#484 bug/81405 - Preservation Library - Wrong responsibility chosen when using filter
  src/modules/PlantConfig/views/Library/PreservationJourney/PreservationJourney.tsx
Labels: missing test, plantConfig

#486 Feature/80915 UI appinsights page view names
  src/app/Root.tsx
  src/index.tsx
  src/modules/InvitationForPunchOut/index.tsx
  src/modules/NoPlant/index.tsx
  src/modules/PlantConfig/index.tsx
  src/modules/PlantConfig/views/Library/Library.tsx
  src/modules/Preservation/index.tsx
Labels: invitation for punchout, missing test, plantConfig, preservation

#488 Fix global dirty handling for library
  src/components/TreeView/index.tsx
  src/core/DirtyContext.tsx
  src/modules/PlantConfig/views/Library/LibraryTreeview/LibraryTreeview.tsx
  src/modules/PlantConfig/views/Library/Mode/Mode.tsx
  src/modules/PlantConfig/views/Library/PreservationJourney/PreservationJourney.tsx
  src/modules/PlantConfig/views/Library/PreservationRequirements/PreservationRequirementDefinition.tsx
  src/modules/PlantConfig/views/Library/PreservationRequirements/PreservationRequirementType.tsx
  src/modules/PlantConfig/views/Library/TagFunction/tabs/PreservationTab.tsx
Labels: core, missing test, plantConfig

#491 bug/81916 Users without the ipo_sign privilege group can be added as …
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Participants/Participants.tsx
Labels: invitation for punchout, missing test

#480 Feature/81501 UI change mcpkg restriction add for commpkg
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/types.d.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateAndEditIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/EditIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/CommPkgTable.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/McPkgTable.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/SelectScope.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/Table.style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Summary/Summary.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/types.d.ts
Labels: invitation for punchout, missing test

#490 75541/UI hover state på checkbox
  src/components/Checkbox/index.tsx
  src/components/Checkbox/style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/GeneralInfo/GeneralInfo.style.ts
  src/modules/InvitationForPunchOut/views/SearchIPO/Filter/CheckboxFilterWithDates/index.style.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Filter/SavedFilters/index.tsx
  src/modules/PlantConfig/views/Library/Mode/Mode.style.ts
  src/modules/PlantConfig/views/Library/PreservationJourney/PreservationJourney.tsx
  src/modules/PlantConfig/views/Library/PreservationRequirements/PreservationRequirementDefinition.tsx
  src/modules/Preservation/views/ScopeOverview/ScopeFilter/CheckboxFilter.style.ts
  src/modules/Preservation/views/ScopeOverview/ScopeFilter/CheckboxFilter.tsx
Labels: invitation for punchout, missing test, plantConfig, preservation

#489 Fixed issue with dropdown closing when clicking on the scrollbar
  src/hooks/useClickOutsideNotifier.tsx
Labels: missing test
