Repository equinor/procosys-js-frontend, pull requests merged in 2021-02, with the labels that each got.

#440 Feature 80711: UI - Rename all punch out to punch-out
  src/modules/Header/index.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/GeneralInfo/GeneralInfo.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/__tests__/ParticipantsTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/index.tsx
Labels: header, invitation for punchout, missing test

#442 Feature 80735: UI - Table of IPOs
  src/core/services/DateService.ts
  src/modules/Header/index.tsx
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/index.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Table/index.style.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Table/index.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/__tests__/SearchIPO.test.jsx
  src/modules/InvitationForPunchOut/views/SearchIPO/index.style.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/index.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/types.d.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/__tests__/ParticipantsTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/enums.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/index.tsx
  src/modules/InvitationForPunchOut/views/enums.ts
Labels: core, header, invitation for punchout, missing test

#443 Feature 80725: UI - Disable Cancel button
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateAndEditIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateAndEditIPOHeader.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/EditIPO.tsx
  src/modules/InvitationForPunchOut/views/enums.ts
Labels: invitation for punchout, missing test

#445 Feature 80773: UI - paging when searching comm pkgs
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/CommPkgTable.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/__tests__/CommPkgTable.test.jsx
Labels: invitation for punchout, missing test

#446 Feature 80742: UI - Edit button visible to createdBy
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/__tests__/EditIPO.test.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/ViewIPOHeader.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/types.d.ts
Labels: invitation for punchout, missing test

#441 80515 Access control on IPO
  src/app/index.tsx
  src/core/features/withFeatureFlag.tsx
  src/core/security/__tests__/withAccessControl.test.jsx
  src/core/security/withAccessControl.tsx
  src/modules/InvitationForPunchOut/index.tsx
Labels: core, invitation for punchout, missing test

#447 Tech/80922 add test reporting
  .dockerignore
  .gitignore
  jest.config.js
  package.json
  yarn.lock
Labels: core, dependencies, missing test

#448 Bug 80407: Can not click attachments before create
  jest.setup.js
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Attachments/Attachments.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Summary/Summary.tsx
Labels: invitation for punchout, missing test

#436 Feature 80598: UI Frontend validation
  src/http/__tests__/SettingsApiClient.test.js
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateAndEditIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/GeneralInfo/GeneralInfo.style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/GeneralInfo/GeneralInfo.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/__tests__/CreateIPO.test.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/utils.ts
Labels: invitation for punchout, missing test

#451 Feature 80941: UI - Add application insights custom events
  src/core/PlantContext.tsx
  src/core/services/Analytics/AppInsightsAnalytics.ts
  src/core/services/Analytics/IAnalytics.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/EditIPO.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/index.tsx
  src/modules/InvitationForPunchOut/views/enums.ts
Labels: core, invitation for punchout, missing test

#444 Feature 80737: UI - IPO search filter
  src/modules/Header/index.tsx
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateAndEditIPO.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Filter/CheckboxFilterWithDates/__tests__/CheckboxFilterWithDates.test.jsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Filter/CheckboxFilterWithDates/index.style.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Filter/CheckboxFilterWithDates/index.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Filter/PersonSelector/__tests__/PersonSelector.test.jsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Filter/PersonSelector/index.style.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Filter/PersonSelector/index.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Filter/RoleSelector/__tests__/RoleSelector.test.jsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Filter/RoleSelector/index.style.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Filter/RoleSelector/index.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Filter/SelectFilter/__tests__/SelectFilter.test.jsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Filter/SelectFilter/index.style.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Filter/SelectFilter/index.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Filter/__tests__/Filter.test.jsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Filter/index.style.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Filter/index.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Table/__tests__/Table.test.jsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Table/index.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/__tests__/SearchIPO.test.jsx
  src/modules/InvitationForPunchOut/views/SearchIPO/index.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/types.d.ts
Labels: header, invitation for punchout, missing test

#452 Bug 80958: UI - when complete fails displays success snackbar
  src/modules/InvitationForPunchOut/views/SearchIPO/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Comments/index.style.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/style.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/index.tsx
Labels: invitation for punchout, missing test

#453 Feature 80535: UI - remove outlook flyout and add popover
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/CustomPopover/__tests___/CustomPopover.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/CustomPopover/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/CustomPopover/style.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/__tests__/ParticipantsTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/style.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/OutlookInfo/__tests__/OutlookInfoTest.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/OutlookInfo/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/OutlookInfo/style.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/ViewIPOHeader.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/index.style.tsx
Labels: invitation for punchout, missing test

#454 Add Helmet package and favicon linking
  package.json
  src/app/Root.tsx
  src/declarations/globals.d.ts
  src/index.tsx
  webpack.development.config.js
  webpack.production.config.js
  yarn.lock
Labels: dependencies

#456 Hotfix 81134: Attachment list links in edit mode
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Attachments/Attachments.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Summary/Summary.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/utils.ts
Labels: invitation for punchout, missing test

#459 Bug fixed, added test
  src/modules/Preservation/views/ScopeOverview/TagFlyout/ActionTab/ActionTab.tsx
  src/modules/Preservation/views/ScopeOverview/TagFlyout/ActionTab/__tests__/ActionTab.test.jsx
Labels: missing test, preservation

#458 Bug/80319 preservering edit
  src/modules/Preservation/views/EditTagProperties/EditTagProperties.tsx
Labels: missing test, preservation
