Repository equinor/procosys-js-frontend, pull requests merged in 2021-04, with the labels that each got.

#501 Tech/82070 fix routes in preservation
  src/modules/Preservation/http/PreservationApiClient.ts
Labels: missing test, preservation

#475 Feature/81123 UI switch material table
  .gitignore
  .vs/slnx.sqlite
  jest.setup.js
  package.json
  src/components/AttachmentList/index.tsx
  src/components/AttachmentList/style.ts
  src/components/Table/ResizeHandle.tsx
  src/components/Table/TablePagination.tsx
  src/components/Table/__tests__/data.json
  src/components/Table/__tests__/table.test.jsx
  src/components/Table/filters.tsx
  src/components/Table/index.tsx
  src/components/Table/style.ts
  src/core/services/ModalDialogService/style.ts
  src/declarations/react-table-config.d.ts
  src/modules/InvitationForPunchOut/types.d.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Attachments/Attachments.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/CommPkgTable.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/McPkgTable.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/Table.style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/__tests__/McPkgTable.test.jsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/__tests__/SelectScope.test.jsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Table/__tests__/Table.test.jsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Table/index.style.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Table/index.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/CommPkgsTable/__tests__/CommPkgTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/McPkgsTable/__tests__/McPkgsTable.test.jsx
  src/modules/Preservation/http/PreservationApiClient.ts
  src/modules/Preservation/views/AddScope/AddScope.style.ts
  src/modules/Preservation/views/AddScope/AddScope.tsx
  src/modules/Preservation/views/AddScope/SelectMigrateTags/SelectMigrateTags.style.ts
  src/modules/Preservation/views/AddScope/SelectMigrateTags/SelectMigrateTags.tsx
  src/modules/Preservation/views/AddScope/SelectTags/SelectTags.style.ts
  src/modules/Preservation/views/AddScope/SelectTags/SelectTags.tsx
  src/modules/Preservation/views/AddScope/SelectTags/__tests__/SelectTags.test.jsx
  src/modules/Preservation/views/AddScope/TagDetails/TagDetails.tsx
  src/modules/Preservation/views/AddScope/types.d.ts
  src/modules/Preservation/views/ScopeOverview/CompleteDialog.tsx
  src/modules/Preservation/views/ScopeOverview/DialogTable.style.ts
  src/modules/Preservation/views/ScopeOverview/DialogTable.tsx
  src/modules/Preservation/views/ScopeOverview/PreservedDialog.tsx
  src/modules/Preservation/views/ScopeOverview/RemoveDialog.tsx
  src/modules/Preservation/views/ScopeOverview/RescheduleDialog.style.ts
  src/modules/Preservation/views/ScopeOverview/RescheduleDialog.tsx
  src/modules/Preservation/views/ScopeOverview/ScopeOverview.tsx
  src/modules/Preservation/views/ScopeOverview/ScopeOverviewTable.style.ts
  src/modules/Preservation/views/ScopeOverview/ScopeOverviewTable.tsx
  src/modules/Preservation/views/ScopeOverview/ScopeTable.tsx
  src/modules/Preservation/views/ScopeOverview/StartPreservationDialog.tsx
  src/modules/Preservation/views/ScopeOverview/TagFlyout/ActionTab/__tests__/ActionTab.test.jsx
  src/modules/Preservation/views/ScopeOverview/TagFlyout/HistoryTab/HistoryTab.style.ts
  src/modules/Preservation/views/ScopeOverview/TagFlyout/HistoryTab/HistoryTab.tsx
  src/modules/Preservation/views/ScopeOverview/TransferDialog.tsx
  src/modules/Preservation/views/ScopeOverview/VoidDialog.tsx
  src/modules/Preservation/views/ScopeOverview/__tests__/PreservedDialog.test.jsx
  src/modules/Preservation/views/ScopeOverview/__tests__/ScopeOverview.test.jsx
  yarn.lock
Labels: core, dependencies, invitation for punchout, missing test, preservation

#500 Added global dirty state on additional screens for preservation.
  src/modules/Preservation/views/AddScope/CreateDummyTag/CreateDummyTag.tsx
  src/modules/Preservation/views/AddScope/CreateDummyTag/__tests__/CreateDummyTag.test.jsx
  src/modules/Preservation/views/AddScope/SelectTags/SelectTags.tsx
  src/modules/Preservation/views/AddScope/SelectTags/__tests__/SelectTags.test.jsx
  src/modules/Preservation/views/AddScope/SetTagProperties/SetTagProperties.tsx
  src/modules/Preservation/views/AddScope/SetTagProperties/__tests__/SetTagProperties.test.jsx
  src/modules/Preservation/views/EditTagProperties/EditTagProperties.tsx
  src/modules/Preservation/views/EditTagProperties/__tests__/EditTagProperties.test.jsx
  src/modules/Preservation/views/ScopeOverview/RescheduleDialog.tsx
  src/modules/Preservation/views/ScopeOverview/TagFlyout/ActionTab/ActionTab.tsx
  src/modules/Preservation/views/ScopeOverview/TagFlyout/ActionTab/CreateOrEditAction.tsx
  src/modules/Preservation/views/ScopeOverview/TagFlyout/PreservationTab/PreservationTab.tsx
  src/modules/Preservation/views/ScopeOverview/TagFlyout/PreservationTab/Requirements.tsx
  src/modules/Preservation/views/ScopeOverview/TagFlyout/PreservationTab/__tests__/PreservationTab.test.jsx
  src/modules/Preservation/views/ScopeOverview/TagFlyout/PreservationTab/__tests__/Requirements.test.jsx
  src/modules/Preservation/views/ScopeOverview/__tests__/RescheduleDialog.test.jsx
  src/modules/Preservation/views/ScopeOverview/__tests__/ScopeOverview.test.jsx
Labels: missing test, preservation

#502 Fixed dirty/valid handling for requirement type
  src/modules/PlantConfig/views/Library/PreservationRequirements/PreservationRequirementType.tsx
Labels: missing test, plantConfig

#503 Fixes for table component
  .vs/slnx.sqlite
  src/assets/sass/global.scss
  src/components/AttachmentList/index.tsx
  src/components/Table/filters.tsx
  src/components/Table/index.tsx
  src/components/Table/style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Attachments/Attachments.style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Attachments/Attachments.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/CommPkgTable.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/McPkgTable.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Table/index.tsx
  src/modules/Preservation/views/AddScope/SelectMigrateTags/SelectMigrateTags.style.ts
  src/modules/Preservation/views/AddScope/SelectMigrateTags/SelectMigrateTags.tsx
  src/modules/Preservation/views/AddScope/SelectTags/SelectTags.style.ts
  src/modules/Preservation/views/AddScope/SelectTags/SelectTags.tsx
  src/modules/Preservation/views/ScopeOverview/DialogTable.tsx
  src/modules/Preservation/views/ScopeOverview/RescheduleDialog.style.ts
  src/modules/Preservation/views/ScopeOverview/RescheduleDialog.tsx
  src/modules/Preservation/views/ScopeOverview/ScopeOverview.tsx
  src/modules/Preservation/views/ScopeOverview/ScopeOverviewTable.tsx
  src/modules/Preservation/views/ScopeOverview/TagFlyout/HistoryTab/HistoryTab.style.ts
  src/modules/Preservation/views/ScopeOverview/TagFlyout/HistoryTab/HistoryTab.tsx
  src/modules/Preservation/views/ScopeOverview/VoidDialog.tsx
  yarn.lock
Labels: dependencies, invitation for punchout, missing test, preservation

#505 'feature/82130 adjustments frontend table'
  src/components/Table/index.tsx
  src/components/Table/style.ts
  src/core/styling.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/CommPkgTable.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/McPkgTable.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/Table.style.ts
  src/modules/InvitationForPunchOut/views/SearchIPO/Table/index.style.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Table/index.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/index.tsx
  src/modules/Preservation/views/AddScope/SelectMigrateTags/SelectMigrateTags.style.ts
  src/modules/Preservation/views/AddScope/SelectTags/SelectTags.style.ts
  src/modules/Preservation/views/ScopeOverview/CompleteDialog.tsx
  src/modules/Preservation/views/ScopeOverview/DialogTable.style.ts
  src/modules/Preservation/views/ScopeOverview/DialogTable.tsx
  src/modules/Preservation/views/ScopeOverview/RescheduleDialog.style.ts
  src/modules/Preservation/views/ScopeOverview/RescheduleDialog.tsx
  src/modules/Preservation/views/ScopeOverview/ScopeOverviewTable.style.ts
  src/modules/Preservation/views/ScopeOverview/ScopeOverviewTable.tsx
  src/modules/Preservation/views/ScopeOverview/StartPreservationDialog.tsx
  src/modules/Preservation/views/ScopeOverview/TransferDialog.tsx
  src/modules/Preservation/views/ScopeOverview/VoidDialog.tsx
Labels: core, invitation for punchout, missing test, preservation

#506 Feature/82203 UI update yarn/npm packages april
  .docker/Dockerfile
  package.json
  yarn.lock
Labels: dependencies, docker, missing test

#507 Fixed error in Excel export pres. and ipo
  .eslintrc.json
  src/components/Table/index.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/Table/index.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/index.tsx
  src/modules/Preservation/views/ScopeOverview/ScopeOverviewTable.tsx
Labels: invitation for punchout, missing test, preservation

#508 Bug/82208 excel export
  src/components/Table/index.tsx
  src/modules/Preservation/views/ScopeOverview/ScopeOverviewTable.tsx
Labels: missing test, preservation

#509 82282 - Workaround for datetime picker
  src/app/index.style.ts
Labels: missing test

#510 Display overlooked new-tag for new preservation tags in scope overview.
  src/components/Table/__tests__/table.test.jsx
  src/modules/Preservation/views/ScopeOverview/ScopeOverviewTable.style.ts
  src/modules/Preservation/views/ScopeOverview/ScopeOverviewTable.tsx
  src/modules/Preservation/views/ScopeOverview/__tests__/ScopeOverviewTable.test.jsx
Labels: missing test, preservation
