Repository equinor/procosys-js-frontend, pull requests merged in 2021-11, with the labels that each got.

#581 Tech/86098 yarn upgrade october
  package.json
  yarn.lock
Labels: missing test, dependencies

#569 Bug/82594 - Too much space below table component
  src/app/index.style.ts
  src/components/AttachmentList/index.tsx
  src/core/services/ModalDialogService/style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/SelectScope.style.ts
  src/modules/InvitationForPunchOut/views/SearchIPO/Table/index.style.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/index.style.tsx
  src/modules/Preservation/views/AddScope/AddScope.style.ts
  src/modules/Preservation/views/AddScope/SelectMigrateTags/SelectMigrateTags.style.ts
  src/modules/Preservation/views/AddScope/SelectTags/SelectTags.style.ts
  src/modules/Preservation/views/ScopeOverview/CompleteDialog.tsx
  src/modules/Preservation/views/ScopeOverview/DialogTable.style.ts
  src/modules/Preservation/views/ScopeOverview/DialogTable.tsx
  src/modules/Preservation/views/ScopeOverview/Dialogs.style.ts
  src/modules/Preservation/views/ScopeOverview/PreservedDialog.tsx
  src/modules/Preservation/views/ScopeOverview/RemoveDialog.tsx
  src/modules/Preservation/views/ScopeOverview/RescheduleDialog.tsx
  src/modules/Preservation/views/ScopeOverview/ScopeOverview.style.ts
  src/modules/Preservation/views/ScopeOverview/ScopeOverviewTable.style.ts
  src/modules/Preservation/views/ScopeOverview/ScopeOverviewTable.tsx
  src/modules/Preservation/views/ScopeOverview/StartPreservationDialog.tsx
  src/modules/Preservation/views/ScopeOverview/TagFlyout/HistoryTab/HistoryTab.style.ts
  src/modules/Preservation/views/ScopeOverview/TransferDialog.tsx
  src/modules/Preservation/views/ScopeOverview/VoidDialog.tsx
Labels: missing test, core, preservation, invitation for punchout

#587 includes instead of startswith for functional role filter
  src/modules/InvitationForPunchOut/components/RoleSelector/index.tsx
Labels: missing test, invitation for punchout

#579 Bug/83278 rules for construction company and contractor ipo signatures
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Participants/Participants.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/McPkgTable.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
Labels: missing test, invitation for punchout

#588 Bug/83361 edit ipo - participants page goes blank when a functional role no longer exists
  src/modules/InvitationForPunchOut/components/RoleSelector/index.tsx
  src/modules/InvitationForPunchOut/components/RoleSelector/style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Participants/Participants.style.ts
Labels: missing test, invitation for punchout
