Repository equinor/procosys-js-frontend, pull requests merged in 2021-06, with the labels that each got.

#536 feature/82522 update yarn may 2021
  .docker/Dockerfile
  .eslintignore
  .gitignore
  .husky/.gitignore
  .husky/pre-commit
  .storybook/main.js
  babel.config.js
  jest.config.js
  package.json
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/SelectedScope.tsx
  src/modules/InvitationForPunchOut/views/SearchIPO/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/CustomPopover/__tests___/CustomPopover.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/CustomPopover/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/__tests__/ParticipantsTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/index.tsx
  src/modules/Preservation/views/AddScope/CreateDummyTag/CreateDummyTag.tsx
  src/modules/Preservation/views/AddScope/CreateDummyTag/__tests__/CreateDummyTag.test.jsx
  src/modules/QuickSearch/Filters.tsx
  src/modules/QuickSearch/Flyout/CommPkgTab/CommPkgTab.tsx
  src/modules/QuickSearch/Flyout/CommPkgTab/RelatedMCPkgTab.tsx
  src/modules/QuickSearch/Flyout/CommPkgTab/style.ts
  src/modules/QuickSearch/Flyout/MCPkgTab/MCPkgTab.tsx
  src/modules/QuickSearch/Flyout/MCPkgTab/style.ts
  src/modules/QuickSearch/Flyout/PunchListItemTab/PunchListItemTab.tsx
  src/modules/QuickSearch/Flyout/PunchListItemTab/style.ts
  src/modules/QuickSearch/Flyout/TagTab/TagTab.tsx
  src/modules/QuickSearch/Flyout/TagTab/style.ts
  src/modules/QuickSearch/style.ts
  webpack.development.config.js
  webpack.production.config.js
  yarn.lock
Labels: dependencies, docker, invitation for punchout, missing test, preservation

#547 Renamed feature to quickSearch
  src/core/ProCoSysSettings.ts
  src/http/SettingsApiClient.ts
  src/modules/Header/index.tsx
  src/modules/Header/style.ts
  src/modules/QuickSearch/index.tsx
Labels: core, header, missing test

#549 Changed feature flag name for quick search
  src/modules/QuickSearch/index.tsx
Labels: missing test

#550 Feature/83147 redesign quick search new frontend
  package.json
  src/app/ProcosysRouter.tsx
  src/app/index.tsx
  src/modules/Header/index.tsx
  src/modules/Header/style.ts
  src/modules/QuickSearch/Filters.tsx
  src/modules/QuickSearch/QuickSearchPreviewHit.tsx
  src/modules/QuickSearch/http/QuickSearchApiClient.tsx
  src/modules/QuickSearch/index.tsx
  src/modules/QuickSearch/style.ts
  yarn.lock
Labels: dependencies, header, missing test

#553 Feature/83148 minor quicksearch adjustmens
  src/modules/QuickSearch/Filters.tsx
  src/modules/QuickSearch/index.tsx
  src/modules/QuickSearch/style.ts
Labels: missing test

#554 Bug 83360-Handle non-existing App configuration setting for searchApi
  src/modules/QuickSearch/http/QuickSearchApiClient.tsx
Labels: missing test

#548 82898 - ipo scope system bug
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Participants/Participants.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/CommPkgTable.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/McPkgTable.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/SelectScope.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/__tests__/CommPkgTable.test.jsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/__tests__/SelectScope.test.jsx
Labels: invitation for punchout, missing test
