Repository equinor/procosys-js-frontend, pull requests merged in 2021-05, with the labels that each got.

#519 bug/82198 Preservation - check box state not updated
  src/modules/Preservation/views/ScopeOverview/TagFlyout/PreservationTab/Requirements.tsx
Labels: missing test, preservation

#520 bug/82314 Can not select mc pkg discipline ipo
  src/modules/InvitationForPunchOut/types.d.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Attachments/Attachments.style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Attachments/Attachments.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateAndEditIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/EditIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/McPkgTable.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/SelectScope.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/Table.style.ts
Labels: invitation for punchout, missing test

#521 Feature/81663 implement storybook
  .storybook/main.js
  .storybook/manager.head.html
  .storybook/manager.js
  .storybook/preview-head.html
  .storybook/preview.js
  .storybook/theme.js
  .vs/slnx.sqlite
  package.json
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/Checkbox/index.tsx
  src/components/Dropdown/Dropdown.stories.tsx
  src/components/Dropdown/index.tsx
  src/components/Error/Error.stories.tsx
  src/components/Error/index.tsx
  src/components/ErrorBoundary/index.tsx
  src/components/Flyout/Flyout.stories.tsx
  src/components/Flyout/index.tsx
  src/components/Loading/Loading.stories.tsx
  src/components/Loading/index.tsx
  src/components/OptionsDropdown/OptionsDropdown.stories.tsx
  src/components/OptionsDropdown/index.tsx
  src/components/PreservationIcon.stories.tsx
  src/components/PreservationIcon.tsx
  src/components/ProgressBar/ProgressBar.stories.tsx
  src/components/ProgressBar/index.tsx
  src/components/Select/Select.stories.tsx
  src/components/Select/index.tsx
  src/components/Spinner.stories.tsx
  src/components/Spinner.tsx
  src/components/Table/Table.stories.tsx
  src/components/Table/__tests__/data.json
  src/components/Table/__tests__/table.test.jsx
  src/components/TreeView/TreeView.stories.tsx
  src/components/TreeView/index.tsx
  yarn.lock
Labels: dependencies, missing test

#523 bug/82421 IPO MC scope search select
  src/components/Table/filters.tsx
  src/components/Table/index.tsx
  src/components/Table/types.d.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/McPkgTable.tsx
Labels: invitation for punchout, missing test

#511 Tech/80641 attachment component
  src/components/AttachmentList/AttachmentList.stories.tsx
  src/components/AttachmentList/__tests__/AttachmentList.test.jsx
  src/components/AttachmentList/index.tsx
  src/components/AttachmentList/style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Attachments/Attachments.style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Attachments/Attachments.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Attachments/__tests__/Attachments.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Attachments/index.style.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/Attachments/index.tsx
  src/modules/Preservation/views/ScopeOverview/TagFlyout/ActionTab/ActionAttachments.tsx
  src/modules/Preservation/views/ScopeOverview/TagFlyout/AttachmentTab/AttachmentTab.tsx
Labels: invitation for punchout, missing test, preservation

#524 Feature/82402 global search
  package.json
  src/app/ProcosysRouter.tsx
  src/components/EdsIcon/index.tsx
  src/components/Loading/index.tsx
  src/components/Table/style.ts
  src/core/ProCoSysSettings.ts
  src/http/SettingsApiClient.ts
  src/modules/Header/index.tsx
  src/modules/Header/style.ts
  src/modules/QuickSearch/Filters.tsx
  src/modules/QuickSearch/Flyout/CommPkgTab/CommPkgTab.tsx
  src/modules/QuickSearch/Flyout/CommPkgTab/RelatedMCPkgTab.tsx
  src/modules/QuickSearch/Flyout/CommPkgTab/style.ts
  src/modules/QuickSearch/Flyout/MCPkgTab/MCPkgTab.tsx
  src/modules/QuickSearch/Flyout/MCPkgTab/style.ts
  src/modules/QuickSearch/Flyout/QuickSearchFlyout.tsx
  src/modules/QuickSearch/Flyout/style.ts
  src/modules/QuickSearch/context/QuickSearchContext.tsx
  src/modules/QuickSearch/http/QuickSearchApiClient.tsx
  src/modules/QuickSearch/index.tsx
  src/modules/QuickSearch/style.ts
  yarn.lock
Labels: core, dependencies, header, missing test

#526 Feature/82402 global search
  src/modules/Header/index.tsx
Labels: header, missing test

#529 Bug/82596 update paginator count when filtering table
  src/components/Table/TablePagination.tsx
  src/components/Table/style.ts
  src/modules/Preservation/views/AddScope/AddScope.style.ts
Labels: missing test, preservation

#530 Bug/82596 update paginator count when filtering table
  src/components/Table/Table.stories.tsx
  src/components/Table/TablePagination.tsx
  src/components/Table/filters.tsx
  src/components/Table/index.tsx
Labels: missing test

#531 Bug/82596 update paginator count when filtering table
  src/components/Table/index.tsx
Labels: missing test

#532 Feature/82665 frontend for search tag
  .vs/slnx.sqlite
  src/modules/QuickSearch/Filters.tsx
  src/modules/QuickSearch/Flyout/MCPkgTab/MCPkgTab.tsx
  src/modules/QuickSearch/Flyout/QuickSearchFlyout.tsx
  src/modules/QuickSearch/Flyout/TagTab/TagTab.tsx
  src/modules/QuickSearch/Flyout/TagTab/style.ts
  src/modules/QuickSearch/http/QuickSearchApiClient.tsx
  src/modules/QuickSearch/icons/commPkg.tsx
  src/modules/QuickSearch/icons/mcPkg.tsx
  src/modules/QuickSearch/icons/tag.tsx
  src/modules/QuickSearch/index.tsx
  src/modules/QuickSearch/style.ts
Labels: missing test

#533 Feature/82711 frontend for search punch item
  src/modules/QuickSearch/Filters.tsx
  src/modules/QuickSearch/Flyout/CommPkgTab/CommPkgTab.tsx
  src/modules/QuickSearch/Flyout/MCPkgTab/MCPkgTab.tsx
  src/modules/QuickSearch/Flyout/PunchListItemTab/PunchListItemTab.tsx
  src/modules/QuickSearch/Flyout/PunchListItemTab/style.ts
  src/modules/QuickSearch/Flyout/QuickSearchFlyout.tsx
  src/modules/QuickSearch/Flyout/TagTab/TagTab.tsx
  src/modules/QuickSearch/http/QuickSearchApiClient.tsx
  src/modules/QuickSearch/icons/punch.tsx
  src/modules/QuickSearch/index.tsx
Labels: missing test

#534 Add replica parameters
  pipelines/frontend-build.yml
Labels: missing test

#535 Feature/82711 frontend for search punch item
  src/modules/QuickSearch/Flyout/CommPkgTab/CommPkgTab.tsx
  src/modules/QuickSearch/Flyout/CommPkgTab/RelatedMCPkgTab.tsx
  src/modules/QuickSearch/Flyout/MCPkgTab/MCPkgTab.tsx
  src/modules/QuickSearch/Flyout/PunchListItemTab/PunchListItemTab.tsx
  src/modules/QuickSearch/Flyout/TagTab/TagTab.tsx
  src/modules/QuickSearch/index.tsx
Labels: missing test
