Repository equinor/procosys-js-frontend, pull requests merged in 2021-01, with the labels that each got.

#403 Bug 80281: UI - Wrong searchId in CDP06 report link
  src/modules/InvitationForPunchOut/views/ViewIPO/enums.ts
Labels: invitation for punchout, missing test

#386 Edit IPO
  package.json
  src/modules/InvitationForPunchOut/components/RoleSelector/index.tsx
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/index.tsx
  src/modules/InvitationForPunchOut/types.d.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Attachments/Attachments.style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Attachments/Attachments.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Attachments/__tests__/Attachments.test.jsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateAndEditIPO.style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateAndEditIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateAndEditIPOHeader.style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateAndEditIPOHeader.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/EditIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/GeneralInfo/GeneralInfo.style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/GeneralInfo/GeneralInfo.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Participants/Participants.style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Participants/Participants.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Participants/__tests__/Participants.test.jsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/CommPkgTable.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/McPkgTable.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/SelectScope.style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/SelectScope.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/SelectedScope.style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/SelectedScope.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/Table.style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/__tests__/CommPkgTable.test.jsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/__tests__/McPkgTable.test.jsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/__tests__/SelectScope.test.jsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/__tests__/SelectedScope.test.jsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Summary/Summary.style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Summary/Summary.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Summary/__tests__/Summary.test.jsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/__tests__/CreateIPO.test.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/__tests__/EditIPO.test.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/__tests__/utils.test.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/utils.ts
  src/modules/InvitationForPunchOut/views/CreateIPO/Attachments/__tests__/Attachments.test.jsx
  src/modules/InvitationForPunchOut/views/CreateIPO/CreateIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/CreateIPOHeader.tsx
  src/modules/InvitationForPunchOut/views/CreateIPO/__tests__/CreateIPO.test.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Attachments/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/ViewIPOHeader.style.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/ViewIPOHeader.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/index.tsx
  src/modules/InvitationForPunchOut/views/enums.ts
  src/modules/InvitationForPunchOut/views/utils.tsx
Labels: dependencies, invitation for punchout, missing test

#407 minor fixes
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/EditIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/GeneralInfo/GeneralInfo.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/__tests__/CreateIPO.test.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/__tests__/EditIPO.test.tsx
Labels: invitation for punchout, missing test

#396 Feature 78032: UI - Log tab
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/Attachments/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/History/__tests__/History.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/History/index.style.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/History/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/CommPkgsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/McPkgsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/types.d.ts
Labels: invitation for punchout, missing test

#404 Feature 80258: UI - Use canSign attribute
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/__tests__/ParticipantsTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/types.d.ts
Labels: invitation for punchout, missing test

#408 Feature 80318: UI - Text before IPO created
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateAndEditIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/EditIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/GeneralInfo/GeneralInfo.style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/GeneralInfo/GeneralInfo.tsx
Labels: invitation for punchout, missing test

#409 Feature 79929: UI - Signing fixes
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/__tests__/ParticipantsTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
Labels: invitation for punchout, missing test

#410 Decode commPkgNo param
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateAndEditIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/SelectScope.tsx
Labels: invitation for punchout, missing test

#413 Fixed some issues with external email
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/EditIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Participants/Participants.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Summary/Summary.tsx
Labels: invitation for punchout, missing test

#414 Fix issue with initial time (remove seconds)
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/utils.ts
Labels: invitation for punchout, missing test

#415 Fix steps to show correct status
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateAndEditIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/EditIPO.tsx
Labels: invitation for punchout, missing test

#416 Change name and report id for MC32
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Summary/Summary.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/ReportsTable/__tests__/ReportsTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/ReportsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/__tests__/Scope.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/enums.ts
Labels: invitation for punchout, missing test

#395 Feature 77747: UI - List comments
  src/components/EdsIcon/index.tsx
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/style.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/Comments/__tests__/Comments.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Comments/index.style.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Comments/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/style.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/ViewIPOHeader.style.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/ViewIPOHeader.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/index.style.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/types.d.ts
Labels: invitation for punchout, missing test

#412 Cancel IPO button
  src/components/EdsIcon/index.tsx
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/ViewIPOHeader.style.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/ViewIPOHeader.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/index.tsx
Labels: invitation for punchout, missing test

#419 80380 Fix routes on ipo
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
Labels: invitation for punchout, missing test

#411 Unapprove button when an IPO is approved
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/__tests__/ParticipantsTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/style.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/index.tsx
Labels: invitation for punchout, missing test

#417 Update signedBy field based on changes from backend
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/EditIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/__tests__/EditIPO.test.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/__tests__/ParticipantsTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/types.d.ts
Labels: invitation for punchout, missing test

#422 80551: Handle project name instead of id when coming from main
  src/modules/InvitationForPunchOut/index.tsx
  src/modules/InvitationForPunchOut/types.d.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateAndEditIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/EditIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/GeneralInfo/GeneralInfo.tsx
Labels: invitation for punchout, missing test

#420 80396 Current user as default contractor
  src/components/Select/index.tsx
  src/core/UserContext.tsx
  src/modules/InvitationForPunchOut/components/RoleSelector/index.tsx
  src/modules/InvitationForPunchOut/types.d.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateAndEditIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/EditIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Participants/Participants.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Summary/Summary.tsx
Labels: core, invitation for punchout, missing test

#423 80395 More clear error message
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateAndEditIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/GeneralInfo/GeneralInfo.style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/GeneralInfo/GeneralInfo.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Summary/Summary.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/__tests__/EditIPO.test.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/index.tsx
Labels: invitation for punchout, missing test

#426 Bump packages
  .docker/Dockerfile
  package.json
  yarn.lock
Labels: dependencies, docker, missing test

#424 Switch to Azure App Configuration for application settings
  __mocks__/settings.mock.json
  jest.config.js
  settings.template.json
  src/app/GeneralRouter.tsx
  src/app/Root.tsx
  src/app/__tests__/app.test.jsx
  src/app/index.tsx
  src/auth/AuthService.tsx
  src/components/ErrorBoundary/__tests__/ErrorBoundary.test.jsx
  src/components/ErrorBoundary/index.tsx
  src/core/ProCoSysSettings.ts
  src/core/features/withFeatureFlag.tsx
  src/core/services/Analytics/AnalyticsContext.tsx
  src/core/services/Analytics/AppInsightsAnalytics.ts
  src/http/GraphClient.ts
  src/http/ProCoSysClient.ts
  src/http/SettingsApiClient.ts
  src/http/__tests__/SettingsApiClient.test.js
  src/index.tsx
  src/modules/Header/index.tsx
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/PlantConfig/http/LibraryApiClient.ts
  src/modules/Preservation/http/PreservationApiClient.ts
  src/modules/UserGreeting/index.tsx
Labels: core, header, invitation for punchout, missing test, plantConfig, preservation

#430 Add new search criteria to M84 report
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/ReportsTable/index.tsx
Labels: invitation for punchout, missing test

#431 Change text from Approved to Accept
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/__tests__/ParticipantsTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
Labels: invitation for punchout, missing test

#432 Feature 80590: UI - Add IPO id to header title
  src/modules/InvitationForPunchOut/views/ViewIPO/ViewIPOHeader.tsx
Labels: invitation for punchout, missing test

#425 Feature/80393 link to main should be clickable before ipo is created
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateAndEditIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Summary/Summary.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Summary/__tests__/Summary.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/ReportsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Scope/index.tsx
Labels: invitation for punchout, missing test

#429 Use procosys Checkbox component instead of EDS because of issues
  src/modules/Header/index.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/GeneralInfo/GeneralInfo.style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/GeneralInfo/GeneralInfo.tsx
Labels: header, invitation for punchout, missing test

#435 Handle select of multiple files
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Attachments/Attachments.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/Attachments/index.tsx
Labels: invitation for punchout, missing test

#433 Check canSign before showing unaccept button
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/__tests__/ParticipantsTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
Labels: invitation for punchout, missing test
