Repository equinor/procosys-js-frontend, pull requests merged in 2022-11, with the labels that each got.

#689 Pbi/96931 quick search
  src/modules/Header/index.tsx
  src/modules/QuickSearch/Filters.tsx
  src/modules/QuickSearch/Flyout/CommPkgTab/CommPkgTab.tsx
  src/modules/QuickSearch/Flyout/CommPkgTab/RelatedMCPkgTab.tsx
  src/modules/QuickSearch/Flyout/CommPkgTab/style.ts
  src/modules/QuickSearch/Flyout/MCPkgTab/MCPkgTab.tsx
  src/modules/QuickSearch/Flyout/MCPkgTab/style.ts
  src/modules/QuickSearch/Flyout/PunchListItemTab/PunchListItemTab.tsx
  src/modules/QuickSearch/Flyout/PunchListItemTab/style.ts
  src/modules/QuickSearch/Flyout/TagTab/TagTab.tsx
  src/modules/QuickSearch/Flyout/TagTab/style.ts
  src/modules/QuickSearch/index.tsx
Labels: header, missing test

#683 bug/96783 IPO - Not possible to scroll through Functional Role list to see Outlook Response
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/ParticipantsTable.style.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/ParticipantsTable.tsx
Labels: missing test, invitation for punchout

#687 Bug/84470 date and time pickers
  package.json
  src/app/index.tsx
  src/modules/InvitationForPunchOut/helperFunctions/testingFunctions/renderWithLocalizationProvider.tsx
  src/modules/InvitationForPunchOut/types.d.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateAndEditIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/CreateIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/EditIPO.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/GeneralInfo/GeneralInfo.style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/GeneralInfo/GeneralInfo.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Summary/Summary.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Summary/__tests__/Summary.test.jsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/__tests__/CreateIPO.test.tsx
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/__tests__/EditIPO.test.tsx
  yarn.lock
Labels: missing test, dependencies, invitation for punchout

#682 Bug/96128 ipo error message when creating ipo without sufficient access
  src/core/ProCoSysApiError.ts
  src/core/services/TypeGuard.ts
Labels: missing test, core
