Repository equinor/procosys-js-frontend, pull requests merged in 2022-03, with the labels that each got.

#624 Tech/ 90206 Security upgrade nginx to compliant version
  .docker/Dockerfile
Labels: missing test, docker

#623 Migrated to msal-browser auth
  package.json
  src/auth/AuthService.tsx
  src/index.tsx
  webpack.development.config.js
  yarn.lock
Labels: missing test, dependencies

#627 Removed outdated error-handling
  src/auth/AuthService.tsx
Labels: missing test

#622 Feature/89436 admins can unsign all signatures
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/InvitationForPunchOut/types.d.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/Buttons/SignatureButtons.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/__tests__/ParticipantsTable.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/ViewIPOHeader.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/index.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/types.d.ts
Labels: missing test, invitation for punchout
