Repository equinor/procosys-js-frontend, pull requests merged in 2022-10, with the labels that each got.

#659 Tech/95277 update yarn packages for september
  package.json
  src/core/ProCoSysApiError.ts
  src/http/ApiClient.ts
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/CustomPopover/CustomPopover.tsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/CustomPopover/__tests___/CustomPopover.test.jsx
  src/modules/InvitationForPunchOut/views/ViewIPO/GeneralInfo/ParticipantsTable/ParticipantsTable.tsx
  yarn.lock
Labels: missing test, dependencies, core, invitation for punchout

#662 feature/96059 IPO - Move confirmation message closer to next-button
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/GeneralInfo/GeneralInfo.style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/GeneralInfo/GeneralInfo.tsx
Labels: missing test, invitation for punchout

#663 feature/96062 - IPO - Summary and Create: Optimize Layout for Screen
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Summary/Summary.style.ts
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/Summary/Summary.tsx
Labels: missing test, invitation for punchout

#664 bug/95937 Edit IPO Scope fails when editing as admin
  src/modules/InvitationForPunchOut/views/CreateAndEditIPO/SelectScope/SelectedScope.tsx
Labels: missing test, invitation for punchout

#665 Tech/96254 update yarn packages october
  package.json
  yarn.lock
Labels: missing test, dependencies
