Repository equinor/procosys-js-frontend, pull requests merged in 2024-07, with the labels that each got.

#833 fix: update ingress
  radixconfig.yaml
Labels: missing test

#835 pbi/ 114771 HYWIND - Preservationmodule
  src/modules/Preservation/components/RequirementsSelector/RequirementsSelector.tsx
Labels: missing test, preservation

#836 pbi/115306 Switch Node Sass to Dart Sass Procosys-Frontend
  package.json
  yarn.lock
Labels: missing test, dependencies
