Repository equinor/procosys-js-frontend, pull requests merged in 2025-02, with the labels that each got.

#905 fix: env vars
  src/settings.json
Labels: missing test

#906 ci: update base branch
  .github/workflows/deploy-prod.yml
Labels: missing test

#908 build: embed vars🐇
  .docker/scripts/run-nginx.sh
  .github/labeler.yml
  .github/workflows/label.yml
  index.html
  radixconfig.yaml
  src/app/ProcosysRouter.tsx
  src/app/Root.tsx
  src/auth/AuthService.tsx
  src/core/ProCoSysSettings.ts
  src/core/security/withAccessControl.tsx
  src/core/services/Analytics/AppInsightsAnalytics.ts
  src/http/GraphClient.ts
  src/http/ProCoSysClient.ts
  src/index.tsx
  src/modules/Header/index.tsx
  src/modules/InvitationForPunchOut/http/InvitationForPunchOutApiClient.ts
  src/modules/PlantConfig/http/LibraryApiClient.ts
  src/modules/Preservation/http/PreservationApiClient.ts
  src/modules/QuickSearch/http/QuickSearchApiClient.tsx
  src/modules/QuickSearch/index.tsx
Labels: header, missing test, docker, core, preservation, invitation for punchout, plantConfig

#903 Adding responsible disclosure instructions as per compliance policy
  SECURITY.md
Labels: missing test

#920 fix: all nodes highlighted treeview
  src/components/TreeView/TreeView.tsx
Labels: bug
